@import "normalize";

@mixin clearfix() {
  &:before,
  &:after {
      content: " ";
      display: table;
  }
  &:after {
      clear: both;
  }
}

$tablet-width: 800px;
$desktop-width: 1024px;
$baseTopMargin: 0;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

html {
  box-sizing: border-box;
  min-height:100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width:800px;
  min-height:600px;
  margin:0 auto;
  background: #fdfccd;
}

#background-image {
  z-index:0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-repeat:no-repeat;
  background-position: center top;
  background-size:800px auto;
  background-image:url('../images/background-small.jpg');
  height: 100vh;
  opacity:0;
  position:absolute;
  top:0;
  left:auto;
  right:auto;
  width:800px;
  height:600px;
}

h1 {
  text-shadow:0px 0px 12px #fff, 0 0 35px #fff, 0 0 5px #b9b544;
  color:black;
}

canvas {
  background: none;
}

#wrapper, #board-base {
  width:800px;
  height:600px;
}

#wrapper {
  padding:$baseTopMargin;
  margin: 0 auto;
  position:relative;
  display:block;

}

#remote-setup-menu {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align:center;
  padding:20px;


  .button-group {
    display:block;
  }

  h3 {
    width: 50%;
    padding:5px;
    border:3px solid #000;
    margin: 0 auto;
    background:#fff;
  }

  .network-failure {
    background: #fff;
    padding:20px;
    text-align:left;
    border:4px solid #000;

    h3 {
      margin:0;
      border:0;

    }

    blockquote {
      background:#fffa1d;
      padding:20px;
      margin:10px;
    }

  }
}

@include tablet {
 #wrapper {
   margin:0 auto;
 }
}

h1.title {
  font-size: 3em;
  margin: 0.67em 0;
  font-family: Palatino, ‘Palatino Linotype’, ‘Hoefler Text’, Times, ‘Times New Roman’, serif;
  text-transform: uppercase;
  font-weight: bold;
}

#menu {
  display:none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background:none;

  .inner {
    text-align:center;
    color:#fff;
    position:absolute;
    top:0;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    padding:20px;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(0.002turn);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-0.003turn);
  }
}

button.primary {
  background: #000;
  border:0;
  color:#ffa500;
  font-size:25px;
  padding:10px;
  cursor:pointer;
  margin:0 10px;
  border-radius:4px;
  box-shadow:inset 0 0 2px 1px #444;

  span {
    margin-bottom:5px;
    display:block;
  }

  small {
      font-size:12px;
      display:block;
      color:#FFEB3B;
  }

  &:disabled {
    opacity: .5;
    color: darken(#ffa500, 30%);
  }
  &:hover {
    animation-duration: .6s;
    animation-name: wiggle;
    animation-iteration-count: infinite;

    &:disabled {
      animation-duration: 0s;
      cursor:default;
    }
  }
}

.network-menu-textarea {
    width: 50%;
    margin:10px auto;
    display:block;
}

#win-screen {

  .inner {
    text-align:center;
    color:#fff;
    width:246px;
    background: #1f1f1a;
    position:absolute;
    top:58px + $baseTopMargin;
    left:17px;
    padding:20px;
    border:3px solid #000;
    height:509px;

    button {
      width: 160px;
    }
  }
}

.hidden {
  display:none;
}

.vertical-button-list {
  margin:0;
  padding:0;

  li {
    list-style-type: none;
  }

  button {
    &.primary {
      width: 40%;
      margin-bottom:15px;
    }
  }
}

.copy-text-box {
  text-align:left;
  background:#fff;
  padding:5px;
  border:3px solid #000;
  width:50%;
  margin:10px auto;

  button { margin-right: 10px; }

  textarea {
    width:100%;
    height: 80px;
  }

  .copy-text-box-success { color: green; font-size:12px;}
  .copy-text-box-fail { color: green; font-size:12px;}

}
